.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  z-index: 1000;
  padding: 2rem calc(4rem + 15px) 2rem 4rem;
  align-items: center;
  justify-content: center;
}

.container {
  width: 600px;
  position: relative;
  background: var(--white);
  padding: 2rem 4rem;
}

.container svg {
  position: absolute;
  right: 20px;
  top: 20px;
}

.container strong {
  font-size: 1.5rem;
  font-weight: 600;
}

.container p {
  font-size: 0.875rem;
  margin-top: 3rem;
}
